server:
  port: 7001

eureka:
  instance:
    hostname: localhost #eureka服务端的实例名称
  client:
    register-with-eureka: false #表示不向注册中心注册自己
    fetch-registry: false   #false表示自己就是注册中心，不需要去检索
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/    #单机，集群使用逗号隔开


